{% extends 'base.html' %}

{% block content %}

<body>
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <!-- Displaying profile photo -->
      <div class="col-md-4">
        <h3 class="user">{{user.username | capitalize}}</h3>
        {% if user.profile_pic_path %}
        <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
        {%else%}
        <p class="no">No profile picture</p>
        {% endif %}

        {% if user == current_user %}
        <form action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype="multipart/form-data">

          <input type="file" name="photo" class="form-control" required>
          <input type="submit">
          {% endif %}
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <!--Displaying user bio-->
        {% if user.bio %}
        <p>{{user.bio}}</p>
        {% else %}
        <br>
        <br>
        <p class="no">{{user.username| capitalize}} has no bio</p>
        {% endif %}

        {% if user==current_user %}
        <a class="btn btn-success" href="{{url_for('main.update_profile',uname=user.username)}}">Edit Profile</a>
        {% endif %}
      </div>
    </div>
  </div>
</body>
<style>
  @import url('https://fonts.googleapis.com/css?family=Nunito');

  body {
    background: url(/static/photos/wall.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .user {
    color: whitesmoke;
    font-family: 'Nunito', sans-serif !important;
  }

  .no {
    color: whitesmoke;
    font-family: 'Nunito', sans-serif !important;
    font-size: 16.5px;
  }
</style>
{% endblock %}
