{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block content %}

<body>
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="well">
      <h1 class="title">
        {{pitchie.title | upper}}
      </h1>
      <br><br>
      <p class="writer"><b>pitchie Writer: <i>{{pitchie.user.username}}</i></b></p>
      <p class="pitchie">{{pitchie.post}}</p>
      <br>
      <div class="row">
        <div class="col-md-3">
          <p><a href="/comment/new/{{pitchie.id}}" class="btn btn-success">Write Comment</a></p>
        </div>
        <div class="col-md-9">
          <button data-toggle="collapse" data-target="#comment" class="btn btn-success">View Comments</button>
          <div id="comment" class="collapse">
            {{ macro.displayComments(comments) }}
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

<style>
  @import url('https://fonts.googleapis.com/css?family=Nunito');

  .title {
    text-decoration-line: underline;
  }

  body {
    background: url(/static/photos/wall.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .writer {
    font-size: 19px;
    font-family: 'Nunito', sans-serif !important;
  }

  .pitchie {
    font-size: 16.5px;
    font-family: 'Nunito', sans-serif !important;
  }
</style>

{% endblock %}
