{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
<!-- Content block -->
{% block content %}

<body>
  <title> {{ title }} </title>

  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="contain">
      <div class="row">

        <div class="col-md-2 col-lg-2">

        </div>

        <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 create-comment">


          <p class="btn-btn-success">
            {{ wtf.quick_form(subscribe_form) }}
            {{submit}}

          </p>

        </div>

        <div class="col-md-2 col-lg-2">

        </div>

      </div>
    </div>
  </div>
</body>
<style>
  body {
    background: url(/static/photos/wall.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
</style>
{% endblock %}
